streamlit
openai
pdf2image
langchain
torch
transformers
gradio
langchain_openai
streamlit_feedback
langchain-community
duckduckgo-search
pypdf
unstructured
python-docx
bitsandbytes
python-pptx
chromadb
langchainhub
llama-index
wxpython
docx2txt
llama-index-llms-openai
llama-index-llms-langchain